.nav li a.space {
  color: #704CE4 
}

.pride-detail {
  font-family: "맑은 고딕", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  
}
.pride-detail .page-title{
font-size: 30px; 
    font-weight: 800; 
    color: #000; 
    margin-top: 50px; 
    margin-bottom: 20px; 
    text-align: center;
}
.post-meta { 
    position: relative; 
    border-top: 1px solid #CDC5C5; 
    border-bottom: 1px solid #CDC5C5; 
    padding: 5px 0;
    padding-left: 10px; 
    margin-bottom: 16px; 
    font-size: 15px;
    color: #000; 
    display: grid; 
    row-gap: 4px;
}

/* 가짜 세로선 */
.post-meta::after { 
    content: ""; 
    position: absolute; 
    left: 86px;             
    top: 0;               
    bottom: 0;            
    border-right: 1px solid #CDC5C5; 
}

/* 공통 그리드 (제목, 작성팀, 작성일) */
.post-title,
.post-team,
.post-date { 
    display: grid; 
    grid-template-columns: 86px 1fr auto;  
    align-items: center; 
    column-gap: 12px; 
    min-height: 30px; 
}

/* 제목 강조 */
.post-title .post-label-title,
.post-value-title {
    font-weight: 600;  
}

/* 작성팀 보라색 */
.team-id {
    color: #704CE4; 
    font-weight: bold;
    margin-left: 4px;
    text-decoration: none;
}


/* 제목 강조 */
.meta-title .meta-label-title,
.meta-value-title {
    font-weight: 600;  
}

/* 사진 2장 나란히 */
.pride-detail .media-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.pride-detail .media-grid img {
  width: 280px;
  height: 204px;
  object-fit: cover;
  border-radius: 6px;
}

/* 본문 */
.pride-detail .post-body {
  font-size: 16px;
  font-weight:500;
  color: #000;
  line-height: 1.6;
}
